.description-8-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 6.0px;
    margin-top: 26px;
    min-height: 102px;
    width: 271px;
  }
  
  .the-ordinary-hyaluronic-acid-serum {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 6.0px;
    min-height: 46px;
    text-align: center;
    width: 265px;
  }
  
  .x60ml {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 3.0px;
    margin-top: 7px;
    min-height: 20px;
    min-width: 38px;
  }
  
  .step-2-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 3.0px;
    margin-top: 9px;
    min-height: 20px;
    min-width: 44px;
  }
  
  .description-8-1.description-9 {
    left: 40px;
    margin-left: unset;
    margin-top: unset;
    position: absolute;
    top: 313px;
  }
  
  .description-8-1.description-9 .x60ml {
    margin-left: 2.0px;
    min-width: 37px;
  }
  
  .description-8-1.description-9 .step-2-1,
  .description-8-1.description-10 .step-2-1 {
    margin-left: 2.0px;
    min-width: 43px;
  }
  
  .description-8-1.description-10 {
    margin-left: 4.0px;
    margin-top: 2px;
  }
  
  .description-8-1.description-8 .x60ml {
    margin-left: 1.0px;
    min-width: 36px;
  }
  
  