/* RESET PASSWORD CSS */
.reset-password-form {
    align-items: center;
    background-color: #FCF5EF;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 49px;
    height: 600px;
    left: 50%; 
    margin-top: 2rem; 
    transform: translateX(-50%); 
    overflow: hidden;
    position: absolute;
    top: 120px;
    width: 1046px;
    padding: 100px;
  }
  
  .reset-password-form h2 {
    font-size: 35px;
    color: var(--black);
    margin-bottom: 30px;
    text-align: center;
  }
  
  .reset-password-form input {
    width: 80%;
    height: 50px;
    border: 2px solid var(--black);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .reset-password-form input:focus {
    border-color: var(--sundown);
  }
  
  .reset-password-form button {
    cursor: pointer;
    align-items: center;
    background-color: var(--sundown);
    border: 2px solid;
    border-color: var(--black)!important;
    border-radius: 20px;
    color: var(--white);
    display: flex;
    justify-content: center;
    height: 47px;
    min-width: 210px;
    padding: 11px 39.3px;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .reset-password-form button:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 0.5px black;
  }
  