.toggle-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .chatbot-photo {
    width: 60px;
    height: 60px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  

