@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Aclonica:400|Actor:400|Abyssinica+SIL:400|Abril+Fatface:400|Inter:400,500|Abhaya+Libre:400,700");


@font-face {
  font-family: "Abhaya Libre ExtraBold-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/AbhayaLibre-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre Medium-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/AbhayaLibre-ExtraBold.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
